 <div class="form-group"> 
  <header>
    <br/>
    <nav class="navbar">
    <center><h1 class="display-4">FASHION Spunky</h1></center>
    </nav>
      <div class="container">
        <div class="row nomargin">
          <div class="span4">
            <div class="logo">
             <!-- <a href="index.html"><img src="img/logo.png" alt="Spunky_logo" /></a>-->
            </div>
          </div>
          <div class="span8">
            <div class="navbar navbar-static-top">
              <div class="navigation">
                <nav>
                  <ul class="nav topnav">
                    <li class="Button">
                      <a href="/"><i class="icon-home"></i> Home </i></a>
                    </li>                    
                    <li>
                      <a href="Contact">Contact </a>
                    </li>
                  </ul>
                </nav>
              </div>
              <!-- end navigation -->
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
  
