    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="widget">
              <h5 class="widgetheading">Know More</h5>
              <ul class="link-list">
                <li><a href="Contact">Contact Us</a></li>
                <li><a href="Contact">Terms and conditions</a></li>
                <!--<li><a href="#">Privacy policy</a></li> 
                <li><a href="#">What we have done</a></li>
                <li><a href="#">Our support forum</a></li>-->
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="widget">
              <h5 class="widgetheading">Get in touch</h5>
              <p>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a> 
                <a href="#" class="fa fa-google"></a>
                <a href="https://www.youtube.com/channel/UCGIza9Rgo1E88g8GcNtAxWw" class="fa fa-youtube"></a>           
              </p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="widget">
               <h5 class="widgetheading">Our Products</h5>
               <p>Saree and Dhoti<br>Shirt<br>T - Shirts<br>Earrings and Necklace<br>etc

               </p>
            </div>
          </div>
        </div>
      </div>
      <div id="sub-footer">
        <div class="container">
          <div class="row">
            <div class="span6">
              <div class="copyright">
                <p><span>&copy; spunkypsy</span></p>
              </div>
            </div>
            <div class="span6">
            </div>
          </div>
        </div>
      </div>
    </footer>