<br><u><b>Communications</b></u><br>
User can use the platform, mails or any other electronic medium to communicate with us. Try to avoid unwanted queries. We will communicate you through E-mail. May be the replay get more times due to technical or nontechnical issues. We may send the product details to your mail accounts.
<br><u><b>Charges</b></u><br>
Buyers are free to searching and buy products. We only charges for the products. The charges are displayed with the products. 
<br><b><u>Contents Posted on Platform</b></u><br>
We are posting fashion related contents on our platform.  
<br><u><b>Delivery</b></u><br>
We are sending the product through Indian speed post. We are not responsible for the damages due to shipping. After successful payment we will send you the delivery details and tracking id to your registered E-mail. You can track your product through Indian speed post tracking portal.
<br><u><b>Membership Eligibility</b></u><br>
Transaction on the Platform is available only to persons who can form legally binding contracts under Indian Contract Act, 1872. If the user is not meet the criteria to use the platform eg: people under 18 years old, you may use the platform or contents with the presence of parents or the other eligible person.  
<br><u><b>Payment</b></u><br>
Payment is done through secured gateway. We will refund the amount within 7 working days if your loss the money due to the payment failure.
<br><u><b>Privacy</b></u><br>
We will not support to use our website contents include images, text, videos etc. Your personal information’s are safe in our side. We may use your information to enhance the functionality of our products. If you’re not agree with our policy, please don’t use our platform.
<br><u><b>Refund and Replace</b></u><br>
Currently we are not doing any refund and replace. 
<br><u><b>Use of the Platform</b></u><br>
User can user the platform to purchase products. We are strictly prohibited malicious activities.